{
	"env": {
		"browser": true,
		"es6": true
	},
	"parserOptions": {
		"sourceType": "module"
	},
	"rules": {
		"eqeqeq": [1, "smart"],
		"semi": [1, "always"],
		"quotes": [1, "single"],
		"no-unused-vars": [0],
		"no-console": [0],
		"strict": [0],
		"no-undef": [0],
		"curly": [0],
		"no-loop-func": [0],
		"camelcase": [0],
		"no-underscore-dangle": [0]
	},
  "ecmaFeatures": { modules: true },
	"globals": {
		"angular": false
	}
}
