@font-face {
  font-family: "SourceSansPro-Light";
  src: url("fonts/SourceSansPro-Light.otf.woff2");
}
@font-face {
  font-family: "SourceSansPro-Semibold";
  src: url("fonts/SourceSansPro-Semibold.otf.woff2");
}
body {
  margin: 0;
  font-size: 13pt;
  display: flex;
  flex-direction: column;
  font-family: "SourceSansPro-Light";
  background: #646464;
  overflow: hidden;
}
.top-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 80vh;
}
.main-container {
  flex: 4 0 0;
  display: flex;
  flex-direction: column;
}
.side-container {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  background-color: #4a4a4a;
  height: 100%;
  min-width: 15em;
}
.side-container .menu-item {
  min-width: 2.5em;
}
.annotation-list {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
  max-height: auto;
  height: 100%;
  padding: 1em 1em 0em;
}
.annotation-list > annotation-box {
  margin-bottom: 1em;
}
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 11px;
  height: 2.9em;
  padding-left: 2em;
  background-color: #4A4A4A;
}
.menu-item {
  opacity: 0.70;
  color: #c8c8c8;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}
.menu-item:hover {
  opacity: 1.0;
}
.main-container .menu-item {
  padding-right: 5em;
}
.side-container .menu-item {
  padding-right: 5em;
}
#tool-box {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  width: 4em;
  height: 4em;
  color: #646464;
  background-color: #4a4a4a;
  cursor: pointer;
}
#tool-box > * {
  margin: 0.1em;
}
.tool-box-icon .iron-selected {
  --iron-icon-fill-color: white;
}
.tool-box-icon *:not(.iron-selected):hover {
  --iron-icon-fill-color: blue;
}
.object-view {
  flex: 1 1 auto;
  height: auto;
  position: relative;
  background-color: #f5f5f5;
}
.session-container {
  opacity: 0.0;
  display: flex;
  flex-direction: row;
  min-height: 20vh;
  height: 20vh;
  border-top: 1px solid black;
  background-color: green;
}
.session-container .session-box {
  margin-right: 0.5em;
  width: 10vw;
  height: auto;
  max-height: 100%;
}
