body {
  margin: 0;
  font-size: 10pt;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background: #646464;
  overflow: hidden;
}
html,
body {
  height: 100%;
}
.top-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 80vh;
}
.main-container {
  -webkit-flex: 4 0 0;
  flex: 4 0 0;
  max-height: 100%;
}
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 2.2em;
  background-color: yellow;
}
.menu-item {
  padding: 0.5em;
  color: #c8c8c8;
}
.main-container .menu-item {
  min-width: 10em;
}
object-view {
  border-color: green;
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  height: auto;
  max-height: 100px;
  background-color: #f5f5f5;
}
.side-container {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  background-color: #4a4a4a;
  height: 100%;
  min-width: 15em;
}
.side-container .menu-item {
  min-width: 2.5em;
}
.annotation-list {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
  max-height: auto;
  height: 100%;
}
annotation-box {
  margin-bottom: 1em;
}
.session-container {
  display: flex;
  flex-direction: row;
  min-height: 20vh;
  height: 20vh;
  border-top: 1px solid black;
  background-color: green;
}
.session-container .session-box {
  margin-right: 0.5em;
  width: 10vw;
  height: auto;
  max-height: 100%;
}
