@baseGrey: rgba(100, 100, 100, 1.0);
@darkGrey: darken(@baseGrey, 10%);
@lightGrey: lighten(@baseGrey, 20%);
@baseText: rgba(200, 200, 200, 1.0);
@baseWhite: rgb(245, 245, 245);


body {
  margin: 0;
  font-size: 10pt;
  display:flex;
  flex-direction: column;
  font-family: sans-serif;
  background: @baseGrey;
  overflow:hidden;
}

html, body {
    height: 100%;
}


.top-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 80vh;

}

.main-container {
  -webkit-flex: 4 0 0;
  flex: 4 0 0;
  max-height: 100%;

}

// MENU

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 2em;
}

.menu-item {
  padding: 0.5em;
  color: @baseText;
}

.main-container .menu-item {
  min-width: 10em;
}



// TOOLS

.tools {
  
}

.tool-button {
  
}

// OBJECT/CAMERA/3D VIEW

object-view {

  border-color: green;
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  height: auto;
  max-height:100px;
  background-color: @baseWhite;
}

// SIDE BAR

.side-container {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  background-color: @darkGrey;
  height: 100%;
  min-width: 15em;

  .menu-item {
    min-width: 2.5em;
  }
  
}

.annotation-list {
  display:flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  overflow : scroll;
  max-height: auto;
  height: 100%;
}

annotation-box {

}



// BOTTOM / TIMELINE

.session-container {
  display:flex;
  flex-direction: row;
  min-height: 20vh;
  height: 20vh;
  border-top: 1px solid black;
  background-color: green;
  
  .session-box {
    margin-right: 0.5em;
    width: 10vw;
    height: auto;
    max-height: 100%;
  }
  
}



