@font-face {
  font-family: "SourceSansPro-Light";
  src: url("../fonts/SourceSansPro-Light.otf.woff2");
}
@font-face {
  font-family: "SourceSansPro-Semibold";
  src: url("../fonts/SourceSansPro-Semibold.otf.woff2");
}
@font-face {
  font-family: "SourceSansPro-It";
  src: url("../fonts/SourceSansPro-It.otf.woff2");
}


body {
  margin: 0;
  font-family: "SourceSansPro-Light";
  background-color: rgb(7, 20, 26);
  overflow: hidden;
  -webkit-user-select: none;
  font-size: 15px;
}

@media screen and (min-device-width : 1800px)
{
  body
  {
    font-size: 1.4em;

  }
}


.top-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden;
  height: 90vh;
}
.main-container {
  flex: 4 0 0;
  display: flex;
  flex-direction: column;
  height: auto;
  min-width:400px;
  min-height: 400px;
}

.menu-item {
  color: #c8c8c8;
  background-color: none;
  cursor: pointer;
  text-align: center;
  height: auto;
}


.side-container > .menu-item {
  min-width: 2.5em;
}

#tool-menu > .menu-item {
  margin-right: 20px;
}

#main-menu > .menu-item {
  /*--paper-button-ink-color: rgb(7, 20, 26);
  --paper-icon-button-ink-color: rgb(7, 20, 26);*/
  font-size: 1.3em;
  font-family: "SourceSansPro-Semibold";
  border-radius: 0px;
}

#main-menu > .menu-item[disabled] {
  background: none;
  padding-left: 2em;
}


.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  font-size: 0.7em;
  height: 4.0em;

  background-color: rgb(5, 73, 105);
}

.menu.sub, .menu-item.selected {
  background-color: rgb(7, 20, 26);
  color: white;
}




.main-container .menu-item {
  vertical-align: middle;
}


.appname {
  cursor:default;
  margin-right: 5em;
  text-transform: none;
}
.appname:nth-child(0) {
  font-weight: normal;
}

side-panel {
/* all other properties like z-index are inside side-panels css*/
  right: 0;
  float:right;
  overflow: hidden;
}

#annotationList {
  overflow-y: auto;
  min-height: 0px;
  max-height: auto;
  padding: 0.75em;
  background-color: rgb(12, 38, 50);
}

#annotationList > annotation-box {
  /*margin-top: 0.75em;*/

}

#selectedAnnotation {
  background-color: green;
}

#minifiedAnnotationList {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 1em;

}


#workspace {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  min-height: 50vh;
  flex: 1 1 auto;
  background-color: #d2d1d1;
}

#renderview {
z-index: 1;
height: 100%;
width: 100%;
}

#dashboard {
  /*dashboard is above objectview:*/
  z-index: 4;


}

#tool-menu {
  /*dashboard is above objectview:*/
  height: 2.8em;
  z-index: 3;
  width: 100%;
  color: rgb(249, 249, 251);
  background-color: rgb(7, 20, 26);
}



.tool-box-icon.iron-selected {
	background-color: rgba(233, 233, 233, 0.3);
}

.tool-box-icon:not(.iron-selected):hover {
	/*--iron-icon-fill-color: blue;*/
	background-color: rgb(98, 98, 98)
}



.session-container {
  opacity: 0.0;
  display: flex;
  flex-direction: row;
  min-height: 5vh;
  height: 5vh;
  border-top: 1px solid black;
  background-color: green;
}
.session-container .session-box {
  margin-right: 0.5em;
  width: 10vw;
  height: auto;
  max-height: 100%;
}


.annotationCircle {
  border-radius: 50%;
  min-width: 11px;
	width: 0.5em;
	height: 0.5em;

}

.circle:before {
  content: ' \25CF';
  font-size: 2em;
  /*color: gray;*/
}

#onlineStatusText {
  cursor: default;
  display: inline-flex;
  align-items: center;
}

#onlineStatusText, #connectPenButton {
  margin-left: 5em;
}

#resetDBButton {
  margin-left: 55em;
}
